---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Оставьте заявку на бесплатную консультацию">
  <form
    class="mt-8 grid w-full grid-cols-1 gap-4 sm:mx-auto sm:mt-12 sm:w-fit sm:max-w-md"
    data-netlify="true"
    name="contact"
    action="/success/"
    method="POST"
  >
    <input
      class="w-full rounded-3xl border-none bg-stromboli-50 px-6 py-3 text-stromboli-900 caret-current ring-offset-1 transition-all duration-200 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-sun-600"
      type="text"
      name="name"
      placeholder="Как к Вам обращаться?"
      required
    />
    <input
      class="w-full rounded-3xl border-none bg-stromboli-50 px-6 py-3 caret-current ring-offset-1 duration-200 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-sun-600"
      type="tel"
      name="phone"
      placeholder="Номер телефона"
      required
    />
    <div
      data-form-control
      class="relative flex rounded-3xl bg-stromboli-50 transition-all duration-200 focus-within:ring-sun-600"
    >
      <input
        class="w-full rounded-3xl border-none bg-stromboli-50 px-6 py-3 caret-current focus-visible:outline-none"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        type="email"
        name="email"
        placeholder="Электронная почта"
        required
      />
      <button
        class="flex items-center rounded-3xl bg-reef-200 px-6 py-3 font-semibold text-stromboli-700 transition-all duration-200 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-sun-600"
      >
        Отправить
      </button>
    </div>
  </form>
</Layout>
