---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Политика конфиденциальности">
  <div class="container pb-12 pt-16 text-stromboli-950">
    <h1 class="mb-4 text-3xl font-bold">Datenschutzerklärung</h1>

    <p>
      Mit der nachfolgenden Datenschutzerklärung unterrichte ich Sie über die
      Erhebung und Verarbeitung personenbezogener Daten auf meiner Webseite. Sie
      soll Sie darüber informieren, wie und zu welchem Zweck mit Ihren
      personenbezogenen Daten umgegangen wird und welche Rechte Sie dbzgl.
      haben. Die rechtlichen Grundlagen des Datenschutzes finden sich im
      Bundesdatenschutzgesetz (BDSG), dem Telemediengesetz (TMG) und der
      Datenschutz-Grundverordnung (DSGVO).
    </p>

    <h2 class="mb-2 text-2xl font-bold">
      Erhebung, Verarbeitung und Nutzung personenbezogener Daten
    </h2>

    <p>
      Bei jedem Besuch der Webseite www.essencereiki.de werden automatisch
      personenbezogene Daten erhoben und verarbeitet. Die folgenden Daten werden
      erhoben, um Besucherstatistiken über die Nutzung dieser Webseite zu
      erstellen, die Webseite zu verbessern und vor Cyberattacken zu schützen:
    </p>

    <ul class="ml-4 list-disc">
      <li>
        Das Datum und der Besuch der URL, auf der sich der Besucher befindet.
      </li>
      <li>die URL, die der Besucher unmittelbar zuvor besucht hat.</li>
      <li>der verwendete Browser.</li>
      <li>das verwendete Betriebssystem.</li>
      <li>die gekürzte IP-Adresse des Besuchers.</li>
    </ul>

    <p>
      Hierbei handelt es sich ausschließlich um Informationen, welche keine
      Rückschlüsse auf Ihre Person zulassen. Die IP-Adresse wird unmittelbar
      nach Beendigung der Nutzung gelöscht. Zudem werden diese Daten ebenso beim
      Zugriff auf jede andere Website im Internet generiert. Es handelt sich
      hierbei also nicht um eine spezifische Funktion dieser Website.
      Informationen dieser Art werden ausschließlich anonymisiert erhoben und
      von uns statistisch ausgewertet.
    </p>

    <h2 class="mb-2 text-2xl font-bold">Verwendung von Cookies</h2>

    <p>
      Um den Besuch meiner Webseite attraktiv zu gestalten und die Nutzung
      bestimmter Funktionen zu ermöglichen, werden auf einigen Seiten „Cookies“
      verwendet. Bei „Cookies“ handelt es sich um kleine Textdateien, die
      temporär auf Ihrem Rechner abgelegt werden. Dabei werden keinerlei
      persönliche Daten von Ihnen gespeichert. Nach dem Ende der Browser-Sitzung
      werden die verwendeten Cookies wieder von Ihrer Festplatte gelöscht (sog.
      „Sitzungs-Cookies“). Wir verwenden keine Cookies von Drittanbietern. Sie
      haben die Möglichkeit, das Abspeichern von Cookies auf Ihrem Rechner durch
      entsprechende Browsereinstellungen zu verhindern. Bitte informieren Sie
      sich bei dem Anbieter Ihres Browsers über das konkrete Vorgehen. Diese
      Webseite ist in diesem Falle immer noch aufrufbar, die Funktionsweise
      jedoch eingeschränkt.
    </p>

    <h2 class="mb-2 text-2xl font-bold">Webseiten-Analyse</h2>

    <p>
      Diese Website benutzt Google Analytics, einen Webanalysedienst der Google
      Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien,
      die auf Ihrem Computer gespeichert werden und die eine Analyse der
      Benutzung der Website durch Sie ermöglichen. Die durch den Cookie
      erzeugten Informationen über Ihre Benutzung dieser Website werden in der
      Regel an einen Server von Google in den USA übertragen und dort
      gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser
      Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von
      Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des
      Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.
    </p>

    <p>
      Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google
      in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser
      Website wird Google diese Informationen benutzen, um Ihre Nutzung der
      Website auszuwerten, um Reports über die Websiteaktivitäten
      zusammenzustellen und um weitere mit der Websitenutzung und der
      Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber
      zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser
      übermittelte IP-Adresse wird nicht mit anderen Daten von Google
      zusammengeführt.
    </p>

    <p>
      Sie können die Speicherung der Cookies durch eine entsprechende
      Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch
      darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
      Funktionen dieser Website vollumfänglich werden nutzen können. Sie können
      darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre
      Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google
      sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das
      unter dem folgenden Link verfügbare Browser-Plugin herunterladen und
    </p>
  </div></Layout
>
