---
import { Image } from "astro:assets";
import image from "../assets/about-evgenia-waldmann.jpg";
---

<section
  class="container flex scroll-mt-24 items-start gap-16 py-24 text-stromboli-900"
  id="about-me"
>
  <div>
    <h2 class="text-4xl font-extrabold md:text-5xl">
      Я мастер счастливой жизни Евгения Вальдманн!
    </h2>
    <Image
      class="mt-8 block rounded-3xl lg:hidden"
      src={image}
      alt="Evgenia Waldmann"
      width={532}
      height={532}
    />
    <div class="mt-8 grid gap-7 text-lg font-medium">
      <p>
        Я дипломированный психолог, гипнотерапевт, семейный терапевт, член
        Американской ассоциации гипнотерапевтов, регрессолог, холистический
        терапевт, преподаватель, эксперт по работе с подсознанием и
        потомственный целитель.
      </p>
      <p class="font-bold">
        Я помогу вам найти свой путь к счастливой жизни, стать здоровым, любимым
        и успешным, наслаждаться жизнью и раскрыть свой потенциал!
      </p>
      <p>
        Помимо фундаментального образования в области психологии, медицины,
        психосоматики, я получила сакральные знания у учителей Ринпоче Тибета,
        сделала священную кору вокруг Кайласа и поднялась на Эверест.
      </p>
      <p>
        Я применяю в своей практике знания, полученные в Ашраме индийских
        Учителей, таких как Шри Ауробиндо, Сатьи Саи Бабы, знания, получиненные
        в кабалистическом центре в Цфате (Израиль) по магии, врачеванию, кроме
        всего прочего я поддерживаю постоянный контакт с индейцами племени
        сахила Амазонии, потомков инков, я пострянно повышаю свой "целителеский
        уровень и практики", получая знания у шамана племени Абрахама
        Калацакона, в моем арсенале знания по нумерологии и каббале,
        энергопрактикам, аккупунктуре и аюрведе.
      </p>
      <p>
        Это все относится к сфере моих интересов и изысканий. Я постоянно в
        течении уже более 25 лет совершаю экспедиции в так называемые места
        силы, где получаю не только энергетическую подпитку, но и инсайты,
        которые потом я реализую в своей практике.
      </p>
      <p>
        Так мне более пяти лет назад пришла идея, открыть свой центр
        трансформационной психологии и психотерапии личностного роста ПаРДеС. Я
        стала приумножать полученные до мной знания, передавая и обучая десятки
        людей быть здоровыми, богатыми и счастливыми. Потому что проходя
        обучение в моем Центре люди не просто сами излечивались от своих
        недугов, но и получали рабочий инструмент, для того чтобы помогать уже
        другим.
      </p>
      <p>
        В моем центре предлагаются разные виды обучения: будь то марафон
        состояний или онлайн занятия, где после каждого занятия ученики получают
        развёрнутый скрипт лекции и видео запись самой лекции, кроме того в
        качестве одной из форм обучения предлагается выездной мастер класс, где
        все отрабатывают практический материал.
      </p>
      <p>
        Самое важное, что всё обучение в моем Центре сводится к "учению с
        увлечением", когда усвоение материала идёт не на уровне заучивания, а на
        уровне эмоциональной включенности в материал.
      </p>
      <p>
        Моя задача  как коуча, наставника — сделать каждую лекцию незабыааемой,
        а главное интересной для всех. Ведь я как никто другой заинтересована в
        успехах своих учеников, поэтому что об учителе судят по его ученику.
      </p>
      <p>
        Кроме фундаментальных знаний по психологии, психосоматики я учу
        "вслушиваться в мир", наблюдать за ним и осознавать каждое событие в
        твоём проекте под названием" ЖИЗНЬ!
      </p>
      <p class="font-bold">
        Стань Со-Творцом своей жизни и возьми от нее ключи в свои руки, а ключи
        я тебе дам!
      </p>
    </div>
  </div>
  <Image
    class="sticky top-32 hidden rounded-3xl lg:block"
    src={image}
    alt="Evgenia Waldmann"
    width={532}
    height={532}
  />
</section>
