---
import { Image } from "astro:assets";
import image from "../assets/card-bg.jpg";

const benefits = [
  "Исцелиться от психосоматических расстройств",
  "Наладить семейные отношения",
  "Убрать негативные убеждения и эмоции",
  "Освободиться от детских травм",
  "Забыть про страхи и панические атаки",
  "Избавиться от зависимостей.",
  "Вернуть эмоциональное равновесие",
  "Полюбить себя и повысить свою самооценку.",
  "Реализовать свой потенциал и достичь гармонии.",
];
---

<section class="py-24 container px-4 md:px-0">
  <h2 class="font-extrabold text-4xl md:text-5xl text-stromboli-900">
    Благодаря моей программе Вы сможете:
  </h2>
  <div
    class="mt-8 md:mt-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 text-stromboli-900"
  >
    {
      benefits.map((benefit) => (
        <div class="group md:last:col-span-2 lg:last:col-span-1 relative overflow-hidden bg-reef-200 h-48 p-8 rounded-[32px] px-16 py-12 grid place-items-center border border-stromboli-900">
          <Image
            class="group-hover:opacity-100 opacity-0 z-0 absolute w-full h-full object-cover transition-opacity duration-300"
            src={image}
            alt=""
            aria-hidden
          />
          <h4 class="font-bold text-xl md:text-2xl text-center relative">
            {benefit}
          </h4>
        </div>
      ))
    }
  </div>
</section>
