<section
  class="mx-auto max-w-[1440px] scroll-mt-24 rounded-tr-[32px] bg-stromboli-700 pb-8 pt-16 transition-all duration-200 sm:pt-24 lg:rounded-t-[64px] xl:rounded-t-[128px]"
  id="contact"
>
  <div class="container">
    <h2
      class="text-4xl font-extrabold text-stromboli-50 sm:text-center md:text-5xl"
    >
      Оставьте заявку на бесплатную консультацию и сделайте шаг на встречу к
      улучшению твоей жизни уже сегодня!
    </h2>
    <div
      class="mx-auto mt-8 grid max-w-[720px] gap-4 text-lg font-medium text-stromboli-200 sm:gap-8 sm:text-center"
    >
      <p>
        Результаты программы могут варьироваться. Перед любыми действиями,
        связанными с изменениями в жизни, бизнесе или финансах, консультируйтесь
        с бухгалтером и юристом. Вы отвечаете за свои решения и их последствия.
      </p>

      <p>
        Принимая участие, Вы соглашаетесь не привлекать меня к ответственности
        за Ваши решения и результаты в любой ситуации. Вы так же соглашаетесь с
        политикой <a class="underline" href="/privacy"
          >обработки персональных данных</a
        >.
      </p>
    </div>
    <form
      class="mt-8 grid w-full grid-cols-1 gap-4 sm:mx-auto sm:mt-12 sm:w-fit sm:max-w-md"
      data-netlify="true"
      name="contact"
      action="https://formspree.io/f/meqyzdbq"
      method="POST"
    >
      <input
        class="w-full rounded-3xl border-none bg-stromboli-50 px-6 py-3 text-stromboli-900 caret-current ring-offset-1 transition-all duration-200 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-sun-600"
        type="text"
        name="name"
        placeholder="Как к Вам обращаться?"
        required
      />
      <input
        class="w-full rounded-3xl border-none bg-stromboli-50 px-6 py-3 caret-current ring-offset-1 duration-200 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-sun-600"
        type="tel"
        name="phone"
        placeholder="Номер телефона"
        required
      />
      <div
        data-form-control
        class="relative flex rounded-3xl bg-stromboli-50 transition-all duration-200 focus-within:ring-sun-600"
      >
        <input
          class="w-full rounded-3xl border-none bg-stromboli-50 px-6 py-3 caret-current focus-visible:outline-none"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          type="email"
          name="email"
          placeholder="Электронная почта"
          required
        />
        <button
          class="flex items-center rounded-3xl bg-reef-200 px-6 py-3 font-semibold text-stromboli-700 transition-all duration-200 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-sun-600"
        >
          Отправить
        </button>
      </div>
    </form>
  </div>
</section>

<script>
  const form = document.querySelector("form");

  function handleSubmit(event: SubmitEvent) {
    event.preventDefault();

    const target = event.target as HTMLFormElement;
    const formData = new FormData(target);

    fetch(target.action, {
      method: target.method,
      body: formData,
      headers: {
        Accept: "application/json",
      },
    })
      .then((response) => {
        if (response.ok) {
          window.location.href = "/success";
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  form?.addEventListener("submit", handleSubmit);
</script>

<style>
  [data-form-control]:focus-within:not(:has(button:focus-visible)) {
    @apply ring-4 ring-sun-600;
  }
</style>
