---
import { Image } from "astro:assets";
import Accordion from "./Accordion.astro";
import AccordionItem from "./AccordionItem.astro";

import fStock1 from "../assets/stocks/faq/f-stock-1.jpg";
import fStock2 from "../assets/stocks/faq/f-stock-2.jpg";
import fStock3 from "../assets/stocks/faq/f-stock-3.jpg";
import fStock4 from "../assets/stocks/faq/f-stock-4.jpg";
import fStock5 from "../assets/stocks/faq/f-stock-5.jpg";
import fStock6 from '../assets/stocks/faq/f-stock-6.jpg';

const faqItems = [
  {
    value: "first",
    question: "Насколько безопасен терапевтический гипноз?",
    answer:
      "Терапевтический гипноз абсолютно безопасен. Клиент сохраняет полный контроль и осознание происходящего, находясь в состоянии придельной концентрации в процессе сеанса. По завершению клиент помнит всё, что с ним происходило, и чувствует себя бодрым и полным сил.",
    image: fStock1,
  },
  {
    value: "second",
    question: "Насколько эффективен  терапевтический гипноз?",
    answer:
      "Гипноз доказал свою высокую эффективность, работая на уровне подсознания, где записаны все воспоминания как на жёстком диске компьютера. Задача специалиста: найти эти воспоминания и переформатировать их на положительные на уровне подсознания.",
    image: fStock2,
  },
  {
    value: "third",
    question: "Все ли люди поддаются гипнозу?",
    answer:
      "Большинство людей восприимчивы к гипнозу, за исключением случаев тяжелых психических заболеваний или состояний опьянения. Человек регулярно попадает в трансовое состояние, которое подобно гипнозу. Например, монотонная езда на машине, когда слипаются глаза,",
    image: fStock3,
  },
  {
    value: "fourth",
    question: "Сколько времени нужно, чтобы решить проблему через гипноз?",
    answer:
      "Продолжительность индивидуальна и может варьироваться от 4 до 10 сеансов, в зависимости от сложности и глубины проблемы.",
    image: fStock4,
  },
  {
    value: "fifth",
    question: "Поможет ли гипнотерапия контролировать злость и агрессию?",
    answer:
      "Да, гипнотерапия эффективно помогает управлять и полностью избавляться от злости, агрессии и гнева уже с первых сеансов.",
    image: fStock5,
  },
  {
    value: "sixth",
    question: "С какого возраста можно применять гипнотерапию у детей?",
    answer:
      "Гипнотерапию с детьми можно начинать с 3-4 лет, когда ребёнок начинает осознавать собственное “Я”, с учётом индивидуального подхода и комплексной семейной терапии. ",
    image: fStock6,
  },
];
---

<section class="container scroll-mt-24 pb-12 pt-16 sm:py-24" id="faq">
  <h2 class="text-4xl font-extrabold text-stromboli-950 md:text-5xl">
    Часто задаваемые вопросы
  </h2>
  <Accordion
    class="mt-8 grid grid-cols-1 gap-4 sm:mt-16 sm:gap-8 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      faqItems.map((item) => (
        <div class="relative flex min-h-[370px] overflow-hidden p-4">
          <Image
            class="absolute inset-0 z-0 h-full w-full rounded-3xl object-cover"
            src={item.image}
            alt=""
            height={360}
            aria-hidden
          />
          <div class="absolute inset-0 z-0 rounded-3xl bg-stromboli-950/50" />
          <AccordionItem
            class="relative block self-end rounded-3xl bg-reef-200 p-4 transition-all duration-300 ease-in-out"
            value={item.value}
          >
            <span
              class="text-left text-base font-bold text-reef-950"
              slot="header"
            >
              {item.question}
            </span>
            <div
              class="size-8 rounded-full bg-stromboli-700 transition-transform"
              data-icon
              slot="icon"
            >
              <svg
                width="32"
                height="32"
                viewBox="0 0 25 24"
                class="fill-stromboli-50"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M8.07699 8.58008L12.667 13.1701L17.257 8.58008L18.667 10.0001L12.667 16.0001L6.66699 10.0001L8.07699 8.58008Z" />
              </svg>
            </div>
            <p class="pt-4 text-reef-800">{item.answer}</p>
          </AccordionItem>
        </div>
      ))
    }
  </Accordion>
</section>
