---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<header class="container flex justify-between items-center pt-6">
  <Image src={logo} alt="Logo" width={100} height={48} loading="eager" />
  <nav class="bg-stromboli-600 py-4 px-8 rounded-3xl">
    <ul class="flex gap-[42px] text-stromboli-200 text-sm font-semibold">
      <li><a href="#program">Программа</a></li>
      <li><a href="#about-me">Обо мне</a></li>
      <li><a href="#reviews">Отзывы</a></li>
      <li><a href="#faq">Ответы на вопросы</a></li>
    </ul>
  </nav>

  <a
    href="#contact"
    class="font-semibold text-reef-200 px-6 py-3 border border-reef-200 rounded-3xl"
  >
    Оставить заявку
  </a>
</header>
