---
import ContactButton from "./ContactButton.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/hero.png";
---

<div class="mx-auto max-w-[1440px] bg-stromboli-700 lg:rounded-b-[128px]">
  <div class="container relative px-4">
    <div class="flex flex-col items-end lg:flex-row">
      <div class="grid items-start pb-16 pt-14 md:pt-20">
        <h1 class="max-w-2xl text-4xl font-bold text-stromboli-50 md:text-6xl">
          Жизнь без травм: результат после первого сеанса.
        </h1>
        <div class="mt-8 max-w-lg text-lg font-medium text-stromboli-200">
          <i
            >“Мой девиз: каждый сам Творец своей жизни! Все в твоих руках! Нет
            ничего невозможного! Главное желание и стремление!”</i
          >

          <p class="mt-6">— Евгения Вальдманн, психолог</p>
        </div>

        <ContactButton />
      </div>
      <Image
        class="relative object-scale-down"
        width={531}
        height={564}
        src={heroImage}
        loading="eager"
        alt="Evgenia Valdmann"
      />
    </div>
  </div>
</div>
