---
import { Image } from "astro:assets";
import Accordion from "./Accordion.astro";
import bg from "../assets/program-card-bg.jpg";
import AccordionItem from "./AccordionItem.astro";

const programItems = [
  {
    value: "first",
    header: "Быстрый анализ ситуации и подбор инструментов",
    content: `Мой подход объединяет обширный опыт и владение многочисленными
            терапевтическими методиками, что позволяет быстро выявить корни
            проблем и адаптировать эффективные стратегии лечения индивидуально
            для каждого клиента.`,
  },
  {
    value: "second",
    header: "Авторская терапия с эмпатией и вдумчивостью",
    content: `Регрессивный гипноз помогает обнаружить и лечить прошлые травмы, безопасен при использовании опытным специалистом. Эффективен для решения психологических проблем и нацелен на результат каждого отдельного клиента.`,
  },
  {
    value: "third",
    header: "Безопасность и подтвержденная эффективность методик",
    content: `На этапе диагностики я устанавливаю доверительный контакт, выявляю проблемы и вместе с клиентом разрабатываю персональный план терапии. Все сеансы проходят онлайн, что позволяет моим клиентам оставаться в привычной для них обстановке и повышает эффективность нашей совместной работы.`,
  },
  {
    value: "fourth",
    header: "Диагностика и планирование индивидуальной терапии",
    content: `Во время сеанса, длительностью до 2,5 часов, мои клиенты находятся в расслабленном состоянии, работая с глубинными воспоминаниями через подсознание. Моя программа рассчитана на 8 сеансов, с регулярностью 1-2 раза в неделю, что обеспечивает глубокую и эффективную работу. Сеанс проходит в удобной для Вас форме из любой точки мира по WhatsApp, Scype или Zoom.`,
  },
  {
    value: "fifth",
    header: "Проведение сеанса и корректировка терапии",
    content: `Я помогаю клиентам применять полученные навыки в повседневной жизни, что позволяет не только закрепить результаты терапии, но и построить новую реальность. Весь процесс работы с подсознанием абсолютно безопасен, и клиенты остаются в полном сознании, чувствуя себя после сеанса отдохнувшими и полными сил.`,
  },
  {
    value: "sixth",
    header: "Закрепление результата и оценка прогресса",
    content: `Уже после первого сеанса мои клиенты замечают значительные положительные изменения в своем состоянии. Моя цель — не только достичь желаемого результата, но и обучить клиентов навыкам, которые позволят им создать счастливую и гармоничную жизнь на многие годы вперед.`,
  },
];
---

<section
  class="mx-auto max-w-[1440px] scroll-mt-24 rounded-[32px] bg-stromboli-700 py-12 transition-all duration-200 sm:py-24 lg:rounded-[64px] xl:rounded-[128px]"
  id="program"
>
  <div class="container">
    <h2
      class="text-4xl font-extrabold text-stromboli-50 md:text-center md:text-5xl"
    >
      Моя авторская целительная программа “Перезагрузка: возвращение истинного
      себя”
    </h2>

    <Accordion
      class="mt-8 grid grid-cols-1 gap-4 sm:gap-8 sm:mt-16 md:grid-cols-2 lg:grid-cols-3"
    >
      {
        programItems.map((item) => (
          <div class="relative flex min-h-[360px] overflow-hidden rounded-3xl">
            <Image
              class="absolute inset-0 z-0 h-full w-full rounded-3xl object-cover"
              height={360}
              src={bg}
              alt=""
              aria-hidden
            />
            <AccordionItem
              class="relative flex flex-col self-end rounded-3xl bg-stromboli-600 p-4 transition-all duration-300 ease-in-out"
              value={item.value}
            >
              <span
                class="text-left text-base font-bold text-stromboli-50"
                slot="header"
              >
                {item.header}
              </span>
              <div
                class="size-8 rounded-full bg-reef-200 transition-transform"
                data-icon
                slot="icon"
              >
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 25 24"
                  class="fill-stromboli-700"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M8.07699 8.58008L12.667 13.1701L17.257 8.58008L18.667 10.0001L12.667 16.0001L6.66699 10.0001L8.07699 8.58008Z" />
                </svg>
              </div>
              <p class="pt-4 text-stromboli-200">{item.content}</p>
            </AccordionItem>
          </div>
        ))
      }
    </Accordion>
  </div>
</section>
