---
import { YouTube } from '@astro-community/astro-embed-youtube';
import { sanityClient } from 'sanity:client';

export const prerender = false;

const reviews = await sanityClient.fetch(
  // Do not fetch unpublished reviews
  `*[_type == "review"] | order(_createdAt desc)`
);
---

<section
  class="mx-auto max-w-[1440px] scroll-mt-24 rounded-r-[32px] bg-reef-200 pb-12 pt-16 sm:py-24 lg:rounded-[64px] xl:rounded-[128px]"
  id="reviews"
>
  <div class="container">
    <h2 class="text-4xl font-extrabold text-stromboli-950 md:text-5xl">
      Их жизнь уже изменилась к лучшему
    </h2>
    <div
      class="mt-8 grid grid-cols-1 gap-4 sm:mt-16 sm:gap-x-[30px] sm:gap-y-11 md:grid-cols-2"
    >
      {
        // There are even more properties from the Sanity API, but we don't need them
        reviews.map((review: { title: string; url: string }) => (
          <YouTube
            class="rounded-3xl object-cover"
            id={review.url}
            title={review.title || 'YouTube video'}
          />
        ))
      }
    </div>
  </div>
</section>
