---
import { YouTube } from "@astro-community/astro-embed-youtube";
const reviewsCount = 6;
---

<section
  class="mx-auto max-w-[1440px] scroll-mt-24 rounded-r-[32px] bg-reef-200 pb-12 pt-16 sm:py-24 lg:rounded-[64px] xl:rounded-[128px]"
  id="reviews"
>
  <div class="container">
    <h2 class="text-4xl font-extrabold text-stromboli-950 md:text-5xl">
      Их жизнь уже изменилась к лучшему
    </h2>
    <div
      class="mt-8 grid grid-cols-1 gap-4 sm:mt-16 sm:gap-x-[30px] sm:gap-y-11 md:grid-cols-2"
    >
      {
        Array.from({ length: reviewsCount }).map(() => (
          <YouTube
            class="rounded-3xl object-cover"
            id="0JUN9aDxVmI"
            title="YouTube video player"
          />
        ))
      }
    </div>
  </div>
</section>
