---
import { YouTube } from "@astro-community/astro-embed-youtube";
const reviewsCount = 6;
---

<section
  class="mx-auto max-w-[1440px] scroll-mt-24 bg-reef-200 py-24 md:rounded-[128px]"
  id="reviews"
>
  <div class="container">
    <h2 class="text-4xl font-extrabold text-stromboli-900 md:text-5xl">
      Их жизнь уже изменилась к лучшему
    </h2>
    <div class="mt-16 grid grid-cols-1 gap-x-[30px] gap-y-11 md:grid-cols-2">
      {
        Array.from({ length: reviewsCount }).map(() => (
          <YouTube
            class="rounded-3xl object-cover"
            id="0JUN9aDxVmI"
            title="YouTube video player"
          />
        ))
      }
    </div>
  </div>
</section>
