---
import '@fontsource-variable/raleway';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Я мастер счастливой жизни Евгения Вальдманн! Я дипломированный психолог, гипнотерапевт, семейный терапевт, член Американской ассоциации гипнотерапевтов, регрессолог, холистический терапевт, преподаватель, эксперт по работе с подсознанием и потомственный целитель."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" as="image" href="/logo.svg" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="min-h-full font-sans antialiased">
    <slot />

    <script>
      // Apply the CSS-has-pseudo polyfill
      import cssHasPseudo from 'css-has-pseudo/browser';
      cssHasPseudo(document);
    </script>
  </body>
</html>
