---
import '@fontsource-variable/raleway';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <title>{title} | psychomaster.de</title>
    <meta
      name="description"
      content="Психологическая помощь онлайн от Евгении Вальдманн. Эффективно, удобно, конфиденциально."
    />
    <meta name="keywords" content="психолог, психология, онлайн помощь, помощь, конфиденциальность, эффективность" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Language" content="ru"> 
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-dark.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32-dark.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16-dark.png" media="(prefers-color-scheme: dark)">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
  </head>
  <body class="min-h-full font-sans antialiased">
    <slot />

    <script>
      // Apply the CSS-has-pseudo polyfill
      import cssHasPseudo from 'css-has-pseudo/browser';
      cssHasPseudo(document);
    </script>
  </body>
</html>
